<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
   
  </head>
  <body>
    <footer>
      <p>
        &copy  The world Travel Blog <span id="currentYear"></span>.
      </p>

      <p class="footer-font">
        Here you can see the world best sightseeing placses <br>
        and you can add the places that you have seen.
      </p>

      
        
      
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>
