<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body >
    <%- include("partials/firstheader.ejs") %>
    <div id="bodydashboard">
        <div class="dashboard">
            <div class="h1" >
                <h1 class="name">Explore, Dream <br>
                Discover!!!</h1>
            </div>
            
    
            <p>This is a Travel blog about beautiful hidden destination around the world.
               <br> Please<a href="/login">Login</a>here...
            <br> If you do not have an account<a href="/signup">Sign up</a>here...
            </p>
    
            
        </div>
    </div>
    
    <%- include("partials/firstfooter.ejs") %>
</body>
</html>